/*HEADER STYLES*/

.header{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/*MAIN STYLES*/

.mainHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
.mainHeader h3{
  color: var(--text2);
  font-weight: 500;
}
.mainToggle{
  display: flex;
  gap: 30px;
}
.toggleButton{
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.mainToggleText{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary);
}

.gridCards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 40px;
  padding: 10px;
}
.imageCard{
  width: 100%;
  height: 200px;
  border-bottom: 4px solid var(--primary);
  cursor: pointer;
}
.imageCard:hover{
  opacity: 50%;
}
.footerCard{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px;
  font-weight: 800;
  font-size: large;
}
.favoriteIcon{
  cursor: pointer;
}